@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

html, body {
    background-image: url("../img/bg.png");
    overflow:hidden;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#split {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

#feed {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

#status {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 16.1px;
    top: 10px;
    right: 10px;
    font-weight: bold;
    text-align: center;
}

#status .title {
    font-size: 25px;
}

#status .me {
    color: #FF8888;
    font-size: 16.1px;
}

.chatbox {
    position: absolute;
    width: 300px;
    height: 320px;
    background: rgba(255, 255, 255, 0.7);
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
    overflow-y:scroll;
}

#instructions ul{
    padding: 5px;
    margin: 0;
    list-style: none;
}

.chatbox .chat-list {
    padding: 5px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 285px;
    overflow-y:scroll !important;
}

.chatbox .chat-list li {
    padding: 2px;
    margin: 3px;
}

.chatbox .chat-list li.me b {
    color: #ea6153;
}

.chatbox .chat-list li.friend b {
    color: #2ecc71;
}

.chatbox .chat-list li.system {
    color: #555555;
}

.chatbox .chat-list li.system:before {
    content: "» ";
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
}
#instructions{
    color:#777;
    text-align:center;
}
#startMenu {
    position: absolute;
    width: 350px;
    padding: 20px;
    padding-bottom:15px;
    border-radius: 10px;
    background-color: #111;
    box-sizing: border-box;
    color:#aaa;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0px 0px 3px 0px rgba(255,255,255,0.55);
}

#startMenu p {
    padding: 0;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    margin:0;
    margin-bottom:20px;
    margin-top:10px;
    margin-left:20px;
}

#gamemode{
    float: right;
    width:33%;
    height:36px;
    padding:6px 12px;
    line-height:1.42857143;
    color: #555;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#settings label{
    width:110px;
    display:block;
    float:left;
    font-size:12px;
    color:#333;
    cursor:pointer;
    line-height:1.42857143;
}

#playerNameInput {
    width: 100%;
    text-align: left;
    padding: 17px 12px;
    border: 1px solid #333;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    height:34px;
    line-height:1.42857143;
    color: #ccc;
    background:#222;
    box-sizing:border-box;
}

#playerNameInput:focus, #playerNameInput.focus, #gamemode:focus, #gamemode.focus {
    border-color: #444;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 102, 102, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 102, 102, .6);
}

#startButton, #settingsButton, #skinsButton {
    margin: auto;
    width: 148px;
    height: 35px;
    font-size: 14px;
    color: #357ebd;
    text-align: center;
    background:transparent;
    border: 1px solid #357ebd;
    cursor: pointer;
    border-radius: 4px;
    transition:0.3s all;
}
#startButton{
    margin-right:10px;
}
#startButton:active, #startButton:hover {
    background: #357ebd;
    color:#111;
}

#skinsButton{
    background-color: transparent;
    border: 1px solid #46b8da;
    color:#46b8da;
}

#settingsButton:active, #settingsButton:hover, #skinsButton:active, #skinsButton:hover {
    background-color: #46b8da;
    color:#111;
}

#settings, #startMenuWrapper {
    overflow: hidden;
}

#settings {
    max-height: 0;
    margin-bottom:10px;
    margin-top:10px;
}

#startMenu h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#startMenu ul {
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

#startMenu .input-error {
    color: red;
    opacity: 0;
    font-size : 12px;
}

#startMenuWrapper {
    z-index: 2;
}

#gameAreaWrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}

hr{
    border:0;
    border-top:1px solid #666;
}

@media only screen  and (min-width : 1224px) {
#mobile {
display: none;
	}
}

@media only screen  and (max-width : 1224px) {
#chatbox {
display: none;
        }
}
